# Logs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
**/venv/
**/__pycache__/

# Built message in matlab
**/matlab_msg_gen_ros1/

## The collected data in matlab
**/matlab_application/collected_data/

## Solution files.
**/solution.csv
